:root {
    --l: 50%;

    --dark-primary: hsl(324, 19%, 5%);
    --dark-secondary: hsl(324, 19%, 10%);
    --dark-secondary-400: hsl(342, 19%, 15%);
    --dark-action: hsl(324, 86%, 57%);

    --light-primary: hsl(0, 0%, 93%);
    --light-secondary: hsl(0, 0%, 100%);
    --light-action: var(--dark-action);
}
